
 # Pattern Recognition Lab 01 : Python Fundamentals

In [ ]:
print("Hello There")

Hello There

In [ ]:
"""
  sample Comments
  gkl;df;gjdfg kljkl
  kljfnnk
  jklsnfjknsdjknf
  fklsdjnfsdlfnklsfnl
"""

print("hellow world")

hellow world

We use print() frequently in any code snippet. 
print() will help us to find any error in our $log$ file.

In [ ]:
cse_4_2 = [1, 2, 3, 4,'fsdfsd', 2.222]
print(cse_4_2)
print(type(cse_4_2))

[1, 2, 3, 4, 'fsdfsd', 2.222]
<class 'list'>

In [ ]:
len(cse_4_2)

6

In [ ]:
# for i in cse_4_2:
#     print(i)

for i in range(len(cse_4_2)):
  print(cse_4_2[i])

1
2
3
4
fsdfsd
2.222

In [ ]:
# list1 = [1, 2, 3, 0, 5, 6]
list1 = [0,0,0]


# # any will return true if any of the sequence values are true
print(any(list1))

# # all will return true only if all values are true
print(all(list1))

False
False

In [ ]:
list1 = [1, 2, 3, 0, 5, 6]

# # min and max will return minimum and maximum values in a sequence
print("min: ", min(list1))
print("max: ", max(list1))
# # 
# # Use sum() to sum up all of the values in a sequence
print("sum: ", sum(list1))

min:  0
max:  6
sum:  17

In [ ]:
# Iterating Over the Items of a List
L = ['Tony was chased', 'Bruce was angered', 'Steven was scared ']
# print each string in the list L
for x in L:
    print(x)
for i in range(len(L)):
  print(L[i])

Tony was chased
Bruce was angered
Steven was scared
Tony was chased
Bruce was angered
Steven was scared

In [ ]:
#@title 0, 1, 2
for i in range (len (L)):
    L[i] = L[i] + ' by zombies.'

for x in L:
    print(x)

Tony was chased by zombies.
Bruce was angered by zombies.
Steven was scared  by zombies.

In [ ]:
x = [1, 2, 3]
x.append([4, 5]) # [1,2,3,[4, 5]]
print(x)
x.extend([8, 9])
print(x)
x.append(5)
print(x)

[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5], 8, 9]
[1, 2, 3, [4, 5], 8, 9, 5]

In [ ]:
# # define a list of days in English and French
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]
# # use regular interation over the days
for m in range(len(days)):
    print(days[m],m)

Sun 0
Mon 1
Tue 2
Wed 3
Thu 4
Fri 5
Sat 6

In [ ]:
# using enumerate reduces code and provides a counter
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
print(list(enumerate(days)))

[(0, 'Sun'), (1, 'Mon'), (2, 'Tue'), (3, 'Wed'), (4, 'Thu'), (5, 'Fri'), (6, 'Sat')]

In [ ]:
a = [4,5,6]
a[2] = 99

In [ ]:
# using enumerate reduces code and provides a counter
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

for x in enumerate(days):
    print(type(x))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
lst = (1,2,3)
lst[1] = 99
lst

TypeError: ignored

In [ ]:
l1 = [1,2,3,5,5]
l2 = ['a','b','c','d']

list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (5, 'd')]

In [ ]:
# # use zip to combine sequences
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer"]
daysGR = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]

for m in zip(days,daysFr,daysGR):
    print(m)

('Sun', 'Dim', 'Dim')
('Mon', 'Lun', 'Lun')
('Tue', 'Mar', 'Mar')
('Wed', 'Mer', 'Mer')

In [ ]:
list(enumerate(zip(days, daysGR, daysFr)))

[(0, ('Sun', 'Dim', 'Dim')),
 (1, ('Mon', 'Lun', 'Lun')),
 (2, ('Tue', 'Mar', 'Mar')),
 (3, ('Wed', 'Mer', 'Mer'))]

In [ ]:
for i, m in enumerate(zip(days, daysGR, daysFr), start=10):
  print(m,i)

('Sun', 'Dim', 'Dim') 10
('Mon', 'Lun', 'Lun') 11
('Tue', 'Mar', 'Mar') 12
('Wed', 'Mer', 'Mer') 13

In [ ]:
for jj, em in enumerate(days):
    print(em, jj)

Sun 0
Mon 1
Tue 2
Wed 3
Thu 4
Fri 5
Sat 6

In [ ]:
'''
    Tuples are identical to lists, with the following exceptions:
        Tuples are immutable.
        Tuples are written with parentheses instead of square brackets.
'''
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer"]
for i, m in enumerate(zip(days, daysFr), start=1):
    print(m, type(m), i)

('Sun', 'Dim') <class 'tuple'> 1
('Mon', 'Lun') <class 'tuple'> 2
('Tue', 'Mar') <class 'tuple'> 3
('Wed', 'Mer') <class 'tuple'> 4

In [ ]:
# use iter to create an iterator over a collection
i = iter(days)
print(next(i))  # Sun
print(next(i))  # Mon
print(next(i))  # Tue
print(next(i)) 
print(next(i))

Sun
Mon
Tue
Wed
Thu

In [ ]:
j = iter(days)

for i in range(len(days)):
  print(next(j))

Sun
Mon
Tue
Wed
Thu
Fri
Sat

Demonstrate how to use set comprehensions

In [ ]:
ctemps = [5, 10, 12, 14, 10, 23, 41, 30, 12, 24, 12, 18, 29]
ftemps = []
for temp in ctemps:
  x = (temp * 9/5) + 32
  ftemps.append(x)
print(ftemps)

[41.0, 50.0, 53.6, 57.2, 50.0, 73.4, 105.8, 86.0, 53.6, 75.2, 53.6, 64.4, 84.2]

In [ ]:
s = {1,2,3}
for element in s:
  print(element)

1
2
3

In [ ]:
l = [5,10,15,20]
l2 = [t*3 for t in l]
l2

[15, 30, 45, 60]

In [ ]:
ctemps = [5, 10, 12, 14, 10, 23, 41, 30, 12, 24, 12, 18, 29]

# build a set of unique Fahrenheit temperatures
ftemps1 = [ (t * 9/5) + 32 for t in ctemps ]
ftemps2 = { (t * 9/5) + 32 for t in ctemps }

print(ftemps1, type(ftemps1)) # Did you think both are the same?
print(ftemps2, type(ftemps2))

[41.0, 50.0, 53.6, 57.2, 50.0, 73.4, 105.8, 86.0, 53.6, 75.2, 53.6, 64.4, 84.2] <class 'list'>
{64.4, 73.4, 41.0, 105.8, 75.2, 50.0, 84.2, 53.6, 86.0, 57.2} <class 'set'>

In [ ]:
lst1 = list(range(1,101))
print(lst1)
lst2 = [item**2 for item in lst1]
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
for elem in ftemps2:
  print(elem)

64.4
73.4
41.0
105.8
75.2
50.0
84.2
53.6
86.0
57.2

#build a set from an input source
sTemp = "The quick brown fox jumped over the lazy dog"

In [ ]:

# build a set from an input source
sTemp = "The quick brown fox jumped over the lazy dogs"
chars1 = {c for c in sTemp if not c.isspace()}
chars = {c.upper() for c in sTemp if not c.isspace()}

print(len(chars1) )
print(chars1)
print(len(chars), type(chars))
print(chars)

27
{'z', 'y', 'p', 'a', 't', 'r', 'T', 'o', 'b', 'j', 'i', 'd', 'l', 's', 'k', 'v', 'f', 'w', 'c', 'n', 'h', 'x', 'u', 'e', 'm', 'g', 'q'}
26 <class 'set'>
{'U', 'C', 'E', 'D', 'B', 'T', 'Y', 'M', 'R', 'X', 'V', 'H', 'P', 'S', 'I', 'G', 'L', 'W', 'J', 'F', 'Q', 'A', 'K', 'O', 'Z', 'N'}

# Lambda expression

* lambda arguments : expression
* anonymous functions; accept multiple arguments but expression should be one

In [ ]:
new_lambda_test = lambda q, w, y, z : q + w + y + z + 10
print(new_lambda_test(20, 20, 20, 20))

90

In [ ]:
lambda_test = lambda a : a + 10
print(lambda_test(5))

new_lambda_test = lambda q, w, y, z : q + w + y + z + 10
print(new_lambda_test(20, 20, 20, 20))

pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1] , reverse = True) # Look carefully..
print(pairs)

15
90
[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [ ]:
mult3 = list(filter(lambda x: x % 3 == 0, [1, 2, 3, 4, 5, 6, 7, 8, 9]))
print(mult3)
print(type(mult3))

[3, 6, 9]
<class 'list'>

In [ ]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(45) #  lambda x: x + 45
print(f(3))

48

# Demonstrate how to use list comprehensions

In [ ]:
# define two lists of numbers
evens = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odds = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Derive a new list of numbers frm a given list
evenSquared = [e ** 2 for e in evens]
print(evenSquared)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [ ]:
base = [5,10,15,20,25]
height = [5,4,5,5,4]

area = [0.5*b*h for b,h in zip(base, height)]
print(area)

[12.5, 20.0, 37.5, 50.0, 50.0]

The **map()** function executes a specified function for each item in a iterable. The item is sent to the function as a parameter.

In [ ]:
# # Perform a mapping and filter function on a list
evenSquared = list(map(lambda e: e**2, filter(lambda e: e > 4 and e < 16, evens)))
print(evenSquared)

[36, 64, 100, 144, 196]

In [ ]:
evenSquared_new = [e ** 2 for e in evens if e > 4 and e < 16]
print(evenSquared_new)

[36, 64, 100, 144, 196]

In [ ]:
# Limit the items operated on with a predicate condition
oddSquared = [e ** 2 for e in odds if e > 3 and e < 17]
print(oddSquared)

[25, 49, 81, 121, 169, 225]

# Demonstrate the usage of Counter objects

In [ ]:
# A Counter is a container that keeps track of how many times equivalent values are added

from collections import Counter

# list of students in class 1
class1 = ["Bob", "James", "Chad", "Darcy", "Penny", "Hannah"
          "Kevin", "James", "Melanie", "Becky", "Steve", "Frank"]

# list of students in class 2
class2 = ["Bill", "Barry", "Cindy", "Debbie", "Frank",
          "Gabby", "Kelly", "James", "Joe", "Sam", "Tara", "Ziggy"]

# Create a Counter for class1 and class2
c1 = Counter(class1)
c2 = Counter(class2)
print(c1)
# How many students in class 1 named James?
print(c1["James"])

Counter({'James': 2, 'Bob': 1, 'Chad': 1, 'Darcy': 1, 'Penny': 1, 'HannahKevin': 1, 'Melanie': 1, 'Becky': 1, 'Steve': 1, 'Frank': 1})
2

In [ ]:
# How many students are in class 1?
print(sum(c1.values()), "students in class 1")

# Combine the two classes
c1.update(class2)
print(sum(c1.values()), "students in class 1 and 2")

# What's the most common name in the two classes?
print(c1.most_common(3), "the most common name in the two classes") # 3 is indicating --- how many

# Separate the classes again
c1.subtract(class2)
print(c1.most_common(2))

# What's common between the two classes?
print((c1 & c2), "common between the two classes")

11 students in class 1
23 students in class 1 and 2
[('James', 3), ('Frank', 2), ('Bob', 1)] the most common name in the two classes
[('James', 2), ('Bob', 1)]
Counter({'James': 1, 'Frank': 1}) common between the two classes

# Demonstrate the usage of defaultdict objects

A defaultdict works exactly like a normal dict, but it is initialized with a function (“default factory”) that takes no arguments and provides the default value for a nonexistent key.

A defaultdict will never raise a KeyError.

In [1]:
dict = {'a':1,'b':2}
print(dict['ukn'])

KeyError: ignored

In [2]:
from collections import defaultdict

ice_cream = defaultdict(lambda: 'There is no such word')
ice_cream['Sarah'] = 'Chunky Monkey'
ice_cream['Abdul'] = 'Butter Pecan'
print(ice_cream['ukn'])

There is no such word

# Demonstrate how to use dictionary comprehensions

In [ ]:
# define a list of temperature values
ctemps = [0, 12, 34, 100]

# Use a comprehension to build a dictionary
tempDict = {t: (t * 9/5) + 32 for t in ctemps if t < 100}
print(tempDict)

print("\n")

print(tempDict[12]) # access individual element
print(tempDict[34])

{0: 32.0, 12: 53.6, 34: 93.2}


53.6
93.2

# Use of Template

In [ ]:
from string import Template

str1 = "Welcome to all {0} {1} {2} students!".format("AUST", "CSE", "4-2")
print(str1)

# create a template with placeholders
templ = Template("Welcome to all ${university} ${department} ${semester} students!")

# use the substitute method with keyword arguments
str2 = templ.substitute(university="AUST", department="CSE", semester="4-2")
print(str2)

# use the substitute method with a dictionary
data = {
    "university": "AUST",
    "department": "CSE",
    "semester": "4-2"
}
str3 = templ.substitute(data)
print(str3)

Welcome to all AUST CSE 4-2 students!
Welcome to all AUST CSE 4-2 students!
Welcome to all AUST CSE 4-2 students!

In [ ]:
width = [5,10,15,20,25,30]
height = [10,15,20,25,30]

area = [ (i,t[0*t[1]]) for i,t in enumerate(zip(width, height))]
area

[(0, 5), (1, 10), (2, 15), (3, 20), (4, 25)]